NEXT_PUBLIC_APP_URL=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_PROJECT_TITLE=
SANITY_HOOK_SECRET=
SANITY_API_KEY=


NEXT_PUBLIC_ALGOLIA_PROJECT_ID=
NEXT_PUBLIC_ALGOLIA_INDEX=
NEXT_PUBLIC_ALGOLIA_API_KEY=

SITE_URL=

MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_API_SERVER=

FORM_ID=
